<mat-card>
  <mat-spinner
    *ngIf="isLoading">
  </mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input type="text" matInput placeholder="Title" required formControlName="title">
      <mat-error *ngIf="form.get('title').invalid"> Please enter post title </mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)='filePicker.click()' >Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)" >
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea matInput rows="6" required placeholder="Content" formControlName="content"></textarea>
      <mat-error *ngIf="form.get('content').invalid"> Please enter post content </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
